<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Çevrimiçi Not Oluşturucu</title>

    <!-- FAVICON EKLEMEYI UNUTMA -->

    <meta
      name="description"
      content="Online ve Çevrimiçi not oluşturma web sitesi."
    />

    <!-- FONTS AND ICONS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/4153ce8dcc.js"
      crossorigin="anonymous"
    ></script>

    <!-- -->

    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/profile/main.css" />
    <link rel="stylesheet" href="css/profile/header.css" />
  </head>
  <body>
    <header class="header">
      <div class="headerDiv">
        <div class="headerText"><h1>ONO!</h1></div>
        <div class="profile">
          <a href="#"><i class="fa-solid fa-user"></i></a>
          <div class="dropdown-content">
            <!-- <a href="/profile">Profil</a> -->
            <a href="/logout">Çıkış Yap</a>
          </div>
        </div>
      </div>
    </header>

    <main class="main-grid">
      <section class="user-account-info">
        <div class="topBar">
          <h1 class="user-name">Profil Düzenle</h1>
        </div>
        <div class="account-settings"></div>
      </section>
      <section class="logout-or-delete">
        <div class="logout">
          <a href="#">Hesaptan Çıkış Yap</a>
        </div>

        <div class="delete-account">
          <a href="#">Hesabı Sil</a>
        </div>
      </section>

      <section class="Advertisement-Space">
        <div class="AdvertisementHeader">
          <h1>REKLAM ALANI!</h1>
        </div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
