.editNotePopup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  
  z-index: 100;
}

.popup-content {
  display: flex;
  flex-direction: column;

  position: relative;

  background-color: white;
  padding: 2rem;
  border-radius: 3px;
  width: 60rem;
  height: 20rem;
}

.popup-content h1 {
  font-size: 2.4rem;
  color: #222831;
  margin-bottom: 0.5rem;
}

.popup-content p {
  font-size: 1.5rem;
  color: #222831cc;

  margin-bottom: 2rem;
}

.popup-content .edit-name-input {
  padding: 1rem;
}

.edit-name-input[type="text"] {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.maxLengthP-edit {
  margin-left: 0.2rem;
  margin-top: 0.7rem;
}

.popup-content .submit-input {
  color: white;
  background-color: #222831;

  padding: 1rem 2rem;
  border-radius: 3px;
}

.popup-content .submit-input:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.popup-content .bottom-msg {
  position: absolute;
  bottom: 0;
}

.closeBtn {
  position: absolute;
  top: -10%;
  right: -2%;
  padding: 2rem 2.2rem;

  background-color: #222831;
  border-radius: 50%;
  transition: all 0.2s;
}

.closeBtn .closeBtn--icon {
  font-size: 1.6rem;
}

.closeBtn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
